@import url("https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Cursive:wght@400..700&display=swap");
:root {
  --bg-dark: oklch(0.92 0.025 124);
  --bg-dark-glass: oklch(0.92 0.025 124/0.5);
  --bg: oklch(0.96 0.025 124);
  --bg-glass: oklch(0.96 0.025 124/0.5);
  --bg-light: oklch(1 0.025 124);
  --bg-light-glass: oklch(1 0.025 124/0.5);
  --text: oklch(0.15 0.05 124);
  --text-muted: oklch(0.4 0.05 124);
  --highlight: oklch(1 0.05 124);
  --border: oklch(0.6 0.05 124);
  --border-muted: oklch(0.7 0.05 124);
  --primary: oklch(0.4 0.1 124);
  --secondary: oklch(0.4 0.1 304);
  --danger: oklch(0.5 0.05 30);
  --warning: oklch(0.5 0.05 100);
  --success: oklch(0.5 0.05 160);
  --info: oklch(0.5 0.05 260);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Edu NSW ACT Cursive", cursive;
  font-weight: 500;
}

body {
  background-color: var(--bg-dark);
}

figure {
  overflow: hidden;
}

figure > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: var(--bg-glass);
  backdrop-filter: blur(10px);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 0.5rem;
  align-items: center;
  border-bottom: 1px solid var(--border);
  z-index: 1;
}

h1 {
  color: var(--primary);
  text-shadow: 2px 2px 0 var(--border);
}

p,
button {
  color: var(--text-muted);
}

hr {
  border: 1px solid var(--border-muted);
  width: 100%;
}

header nav {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  flex-wrap: wrap;
}

footer {
  text-align: center;
  background-color: var(--bg-dark);
  padding: 0.5rem 0;
  border-top: 1px solid var(--border);
}

button {
  padding: 0.1rem 1rem;
  font-size: minmax(0.5rem, 1rem);
  border: 1px solid var(--border);
  outline: none;
  border-radius: 0.5rem;
  background-color: var(--bg-light);
  transition: border 0.5s;
}

button:hover {
  cursor: pointer;
  background-color: var(--bg-dark-glass);
  font-weight: bold;
  border: 2px solid var(--highlight);
}

/* home */

.home-content {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-content h1,
.contact-card h1 {
  font-size: clamp(2rem, 2vw + 1rem, 3rem);
  margin: 0 1.5rem;
}

.home-content figure {
  height: 100%;
  width: 100%;
}

.hero-title {
  position: absolute;
  background-color: var(--bg-dark-glass);
  padding: 1rem;
  border: 1px solid var(--border);
  box-shadow: 2px 2px 4px var(--border);
  backdrop-filter: blur(5px);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  margin: 0 2rem;
  border-radius: 1.5rem;
}

.hero-title h1 {
  font-size: clamp(2rem, 2vw + 2rem, 4rem);
}

.hero-title p {
  font-size: clamp(0.5rem, 1vw + 1rem, 2rem);
}

.hero-title button {
  width: 50%;
  padding: 1rem;
}

/* menu */
.menu-content {
  margin: 7rem 1.5rem;
}

.menu-title {
  text-align: center;
  width: 100%;
  margin-bottom: 1.5rem;
}

.menu-title h1 {
  font-size: clamp(2rem, 2vw + 1rem, 3rem);
}

.menu-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(256px, 300px));
  gap: 0.5rem;
  justify-content: center;
}

.menu-card {
  background-color: var(--bg);
  padding: 1rem;
  border: 1px solid var(--border);
  border-radius: 0.5rem;
  transition: box-shadow 0.3s;
  display: flex;
  flex-direction: column;
}

.soon-container {
  display: flex;
  align-items: center;
  color: var(--text-muted);
}

.menu-card:hover {
  background-color: var(--bg-dark-glass);
  box-shadow: 0px 2px 4px var(--border-muted);
}

.card-description {
  flex: 1;
}

.card-description h3,
.card-description i {
  font-weight: 600;
}

.menu-card figure {
  border: 1px solid var(--border-muted);
  margin-bottom: 1rem;
  height: clamp(300px, 50%, 337px);
}

.menu-card .price {
  text-align: end;
  font-weight: bold;
  color: var(--primary);
  text-decoration: none;
}

.menu-card:hover .price {
  text-decoration: underline;
}

/* Contacts */

.contact-content {
  display: flex;
  justify-content: center;
  margin: 7rem 1.5rem;
}

.contact-card {
  background-color: var(--bg);
  border: 1px solid var(--border);
  border-radius: 1.5rem;
  box-shadow: 2px 2px 4px var(--border);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  text-align: center;
}

.contact-card p {
  width: max(50%, 90%);
}

.contact-card ul {
  list-style: none;
}
